header ul {
    background-color: #232322;
    margin: 0;
    padding: 0;
}
header ul li {
    list-style: none;
    display: inline-block;
    padding: 15px;
}
header ul li a {
    text-decoration: none;
    color: #fff;
}
header ul li a:hover {
    text-decoration: underline;
}
.card {
    background-image: linear-gradient(to right, #A1C4FD,#87D4F6,#C2E9FB);
    padding: 15px;
}
.slider-img {
    width: 100%;
}
.image {
    width: 200px;
    float: left;
    padding: 30px;
}
.p-text {
    text-align: justify;
    column-count: 4;
    column-rule: 2px solid #000;
}
.footer {
    background-color: #000;
    color: white;
    text-align: center;
    height: 50px;
}